# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Study\Northeastern University\Major Courses\CSYE 6220 Enterprise Software Design\repository\CSYE6220_Enterprise_Software_Design_Assignments\Assignment01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
